<template>
  <div
    class="modal fade"
    :id="'eventSettingsModal_' + event.id"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="staticBackdropLabel">
            {{ event.title }}
          </h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- body -->
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'eventInlineRadioOptions_' + event.id"
              :id="'init' + event.id"
              :checked="event.status == 0 ? true : false"
              disabled
            />
            <label class="form-check-label" :for="'init' + event.id"
              >درانتظار تایید</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'eventInlineRadioOptions_' + event.id"
              :id="'accepted' + event.id"
              @change="userStatusHandler(1)"
              :checked="event.status == 1 ? true : false"
            />
            <label class="form-check-label" :for="'accepted' + event.id"
              >تایید شده</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'eventInlineRadioOptions_' + event.id"
              :id="'unaccepted' + event.id"
              @change="userStatusHandler(4)"
              :checked="event.status == 4 ? true : false"
            />
            <label class="form-check-label" :for="'unaccepted' + event.id"
              >رد شده
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'eventInlineRadioOptions_' + event.id"
              :id="'finished' + event.id"
              @change="userStatusHandler(3)"
              :checked="event.status == 3 ? true : false"
            />
            <label class="form-check-label" :for="'finished' + event.id"
              >به پایان رسیده
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'eventInlineRadioOptions_' + event.id"
              :id="'deleted' + event.id"
              @change="userStatusHandler(2)"
              :checked="event.status == 2 ? true : false"
            />
            <label class="form-check-label" :for="'deleted' + event.id"
              >حذف شده
            </label>
          </div>
          <!-- body -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

export default {
  props: {
    event: Object,
  },
  methods: {
    userStatusHandler(status) {
      Axios.post(
        config.base_api + "/admin/event/status/handler",
        {
          id: this.event.id,
          status: status,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          });
        });
    },
  },
};
</script>