<template>
  <div>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-warning rounded-bottom"
      style="border"
    >
      <div class="container-fluid">
        <a class="navbar-brand">
          <small class="h6">پنل مدیریت</small>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarPanel"
          aria-controls="navbarPanel"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPanel">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page">داشبورد</a> -->
              <router-link
                tag="li"
                class="nav-item"
                :to="{ name: 'panel.Dashboard' }"
              >
                <a class="nav-link active" aria-current="page">داشبورد</a>
              </router-link>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                مدیریت
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <router-link
                  v-if="accessList.includes('users')"
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Users' }"
                  >مدیریت کاربران</router-link
                >
                <router-link
                  v-if="accessList.includes('events')"
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Events' }"
                  >مدیریت رویدادها</router-link
                >
                <router-link
                  v-if="accessList.includes('payments')"
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Payments' }"
                  >مدیریت پرداخت‌ها</router-link
                >
                <router-link
                  v-if="accessList.includes('statistics')"
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Statistics' }"
                  >مدیریت آمارها</router-link
                >
                <router-link
                  v-if="accessList.includes('roles')"
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Roles' }"
                  >مدیریت مقام‌ها</router-link
                >
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                تنظیمات سیستمی
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- v-if="accessList.includes('cache')" -->
                <router-link
                  tag="li"
                  class="dropdown-item"
                  :to="{ name: 'panel.Cache' }"
                  >Cache</router-link
                >
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

export default {
  components: {},
  data() {
    return {
      accessList: [],
      name: String,
    };
  },
  mounted() {
    return Axios.post(config.base_api + "/admin/access", null, {
      headers: {
        token: this.$cookies.get("token"),
      },
    }).then((response) => {
      this.accessList = response.data.access;
      this.name = response.data.name;
    });
  },
};
</script>