<template>
  <div
    class="modal fade"
    :id="'userSettingsModal_' + user.id"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="staticBackdropLabel">
            شناسه کاربر: 
            {{ user.id }}
          </h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- body -->
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'userInlineRadioOptions_' + user.id"
              :id="'active' + user.id"
              @change="userActivationHandler(1)"
              :checked="user.status == 1 ? true : false"
            />
            <label class="form-check-label" :for="'active' + user.id">فعال</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'userInlineRadioOptions_' + user.id"
              :id="'pending' + user.id"
              @change="userActivationHandler(3)"
              :checked="user.status == 3 ? true : false"
            />
            <label class="form-check-label" :for="'pending' + user.id"
              >درانتظار فعالسازی</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'userInlineRadioOptions_' + user.id"
              :id="'deleted' + user.id"
              @change="userActivationHandler(2)"
              :checked="user.status == 2 ? true : false"
            />
            <label class="form-check-label" :for="'deleted' + user.id">حذف شده</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              :name="'userInlineRadioOptions_' + user.id"
              :id="'inactive' + user.id"
              @change="userActivationHandler(0)"
              :checked="user.status == 0 ? true : false"
            />
            <label class="form-check-label" :for="'inactive' + user.id">غیرفعال</label>
          </div>
          <hr />
          <div class="form-check form-switch">
            <label
              class="form-check-label"
              for="createNewEventStatusSwitchCheck"
              >ساخت رویداد جدید</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="createNewEventStatusSwitchCheck"
              @change="createEventHandler()"
              :checked="user.access_to_create_event == 1 ? true : false"
            />
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="storeCommentSwitchCheck"
              >ثبت نظر</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="storeCommentSwitchCheck"
              @change="commentHandler()"
              :checked="user.access_to_comment == 1 ? true : false"
            />
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="joinEventSwitchCheck"
              >پیوستن به رویداد</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="joinEventSwitchCheck"
              @change="joinEventHandler()"
              :checked="user.access_to_join_event == 1 ? true : false"
            />
          </div>
          <!-- body -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

export default {
  props: {
    user: Object,
  },
  methods: {
    userActivationHandler(status) {
      Axios.post(
        config.base_api + "/admin/user/activation/handler",
        {
          id: this.user.id,
          status: status,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          });
        });
    },
    commentHandler() {
      Axios.post(
        config.base_api + "/admin/user/store-comment/handler",
        {
          id: this.user.id,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          });
        });
    },
    joinEventHandler() {
      Axios.post(
        config.base_api + "/admin/user/join-event/handler",
        {
          id: this.user.id,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          });
        });
    },
    createEventHandler() {
      Axios.post(
        config.base_api + "/admin/user/create-event/handler",
        {
          id: this.user.id,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          });
        });
    },
  },
};
</script>