<template>
  <div>
    <h3>مدیریت رویدادها</h3>
    <div class="mb-3 overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">مدیریت</th>
            <th scope="col">عنوان</th>
            <th scope="col">توضیح کوتاه</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="event in events" :key="event.id">
            <th scope="row">{{ event.id }}</th>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-outline-dark"
                data-bs-toggle="modal"
                :data-bs-target="'#eventSettingsModal_' + event.id"
              >
                <i class="fa fa-user-cog"></i>
              </button>
            </td>
            <td>
              <router-link
                style="text-decoration: none"
                :to="{
                  name: 'web.Event',
                  params: { id: event.id },
                }"
                target="_blank"
                :class="event.status == 1 ? 'text-success' : 'text-danger'"
                >{{ event.title }}</router-link
              >
            </td>
            <td>{{ event.description }}</td>
            <!-- Modal -->
            <EventSettingsModal :event="event" />
            <!-- Modal -->
          </tr>
        </tbody>
      </table>
    </div>
    <Paginate
      :pagesCount="pagesCount"
      :thisPage="page"
      prefix="/admin/events/"
    />
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

import Paginate from "../../components/Paginate.vue";
import EventSettingsModal from "../../components/panel/EventSettingsModal.vue";

export default {
  components: {
    Paginate,
    EventSettingsModal,
  },
  data() {
    return {
      events: Object,
      page: Number,
      pagesCount: Number,
    };
  },
  mounted() {
    if (this.$route.params.page == undefined) {
      this.page = 1;
    } else {
      this.page = this.$route.params.page;
    }
    Axios.post(config.base_api + `/admin/events/${this.page}`, null, {
      headers: {
        token: this.$cookies.get("token"),
      },
    })
      .then((response) => {
        this.events = response.data.events;
        this.page = response.data.page;
        this.pagesCount = response.data.pagesCount;
      })
      .catch((e) => {
        this.$swal
          .fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "برو به خانه",
          })
          .then(() => {
            window.location.replace(config.site_base + "/admin");
          });
      });
  },
};
</script>
