<template>
  <div>
    <h3>مدیریت کاربران</h3>
    <div class="mb-3 overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">مدیریت</th>
            <th scope="col">نام</th>
            <th scope="col">ایمیل</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <th scope="row">{{ user.id }}</th>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-outline-dark"
                data-bs-toggle="modal"
                :data-bs-target="'#userSettingsModal_' + user.id"
              >
                <i class="fa fa-user-cog"></i>
              </button>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <!-- Modal -->
            <UserSettingsModal :user="user" />
            <!-- Modal -->
          </tr>
        </tbody>
      </table>
    </div>
    <Paginate
      :pagesCount="pagesCount"
      :thisPage="page"
      prefix="/admin/users/"
    />
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

import UserSettingsModal from "../../components/panel/UserSettingsModal.vue";
import Paginate from "../../components/Paginate.vue";

export default {
  components: {
    UserSettingsModal,
    Paginate,
  },
  data() {
    return {
      users: Object,
      page: Number,
      pagesCount: Number,
    };
  },
  mounted() {
    if (this.$route.params.page == undefined) {
      this.page = 1;
    } else {
      this.page = this.$route.params.page;
    }

    Axios.post(config.base_api + `/admin/users/${this.page}`, null, {
      headers: {
        token: this.$cookies.get("token"),
      },
    })
      .then((response) => {
        this.users = response.data.users;
        this.page = response.data.page;
        this.pagesCount = response.data.pagesCount;
      })
      .catch((e) => {
        this.$swal
          .fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "برو به خانه",
          })
          .then(() => {
            window.location.replace(config.site_base + "/admin");
          });
      });
  },
};
</script>
