<template>
  <div class="card col-md-10 col-sm-12 mb-5 mx-auto">
    <div class="card-body">
      <h5 class="card-title">ساخت رویداد جدید</h5>
      <form>
        <div class="mb-5">
          <div class="col-md-5 col-sm-12 mb-3">
            <label for="inputTitle" class="form-label">عنوان</label>
            <input
              type="text"
              class="form-control"
              id="inputTitle"
              v-model="event.title"
            />
          </div>
          <div class="col-12 mb-3">
            <label for="TextareaDescription" class="form-label"
              >توضیح کوتاه</label
            >
            <textarea
              class="form-control"
              id="TextareaDescription"
              v-model="event.description"
              rows="2"
            ></textarea>
          </div>
          <div class="col-12 mb-3">
            <label for="TextareaContent" class="form-label">متن اصلی</label>
            <textarea
              class="form-control"
              id="TextareaContent"
              v-model="event.content"
              rows="5"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 mb-3">
              <label for="inputStartDate" class="form-label">تاریخ شروع</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  v-model="start_day_day"
                  placeholder="روز"
                  min="1"
                  max="31"
                  dir="ltr"
                  required
                />
                <span class="input-group-text">/</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="start_day_month"
                  placeholder="ماه"
                  min="1"
                  max="12"
                  dir="ltr"
                  required
                />
                <span class="input-group-text">/</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="start_day_year"
                  placeholder="سال"
                  min="1400"
                  dir="ltr"
                  required
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
              <label for="inputStartTime" class="form-label">زمان شروع</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  v-model="event.start_min"
                  dir="ltr"
                  min="0"
                  max="24"
                />
                <span class="input-group-text">:</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="event.start_hour"
                  dir="ltr"
                  min="0"
                  max="24"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 mb-3">
              <label for="inputEndDate" class="form-label">تاریخ پایان</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  v-model="end_day_day"
                  placeholder="روز"
                  min="1"
                  max="31"
                  dir="ltr"
                  required
                />
                <span class="input-group-text">/</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="end_day_month"
                  placeholder="ماه"
                  min="1"
                  max="12"
                  dir="ltr"
                  required
                />
                <span class="input-group-text">/</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="end_day_year"
                  placeholder="سال"
                  min="1400"
                  dir="ltr"
                  required
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
              <label for="inputEndTime" class="form-label">زمان پایان</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  v-model="event.end_min"
                  dir="ltr"
                  min="0"
                  max="24"
                />
                <span class="input-group-text">:</span>
                <input
                  type="number"
                  class="form-control"
                  v-model="event.end_hour"
                  dir="ltr"
                  min="0"
                  max="24"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputOriginCity" class="form-label">شهر مبدا</label>
              <input
                type="text"
                class="form-control"
                id="inputOriginCity"
                v-model="event.origin_city"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputOriginState" class="form-label"
                >منطقه مبدا</label
              >
              <input
                type="text"
                class="form-control"
                id="inputOriginState"
                v-model="event.origin_state"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputDestinationCity" class="form-label"
                >شهر مقصد</label
              >
              <input
                type="text"
                class="form-control"
                id="inputDestinationCity"
                v-model="event.destination_city"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputDestinationState" class="form-label"
                >منطقه مقصد</label
              >
              <input
                type="text"
                class="form-control"
                id="inputDestinationState"
                v-model="event.destination_state"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputEndDate" class="form-label"
                >هزینه (اجباری)</label
              >
              <input
                type="number"
                class="form-control"
                id="inputEndDate"
                placeholder="ریال"
                dir="ltr"
                v-model="event.price"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputEndTime" class="form-label"
                >هزینه (پیشنهادی)</label
              >
              <input
                type="number"
                class="form-control"
                id="inputEndTime"
                placeholder="ریال"
                dir="ltr"
                v-model="event.recommended_price"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputOriginCity" class="form-label">حداقل سن</label>
              <input
                type="number"
                class="form-control"
                id="inputOriginCity"
                v-model="event.origin_city"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputOriginState" class="form-label">حداکثر سن</label>
              <input
                type="number"
                class="form-control"
                id="inputOriginState"
                v-model="event.origin_state"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputDestinationCity" class="form-label"
                >حداقل اعضا</label
              >
              <input
                type="number"
                class="form-control"
                id="inputDestinationCity"
                :min="event.min_member"
                v-model="event.min_member"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputDestinationState" class="form-label"
                >حداکثر اعضا</label
              >
              <input
                type="number"
                class="form-control"
                id="inputDestinationState"
                :min="event.min_member"
                v-model="event.max_member"
              />
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputEndDate" class="form-label">جنسیت</label>
              <select
                class="form-select"
                id="inputGender"
                v-model="event.gender"
              >
                <option value="1">فقط آقایان</option>
                <option value="2">فقط بانوان</option>
                <option value="3" selected>اهمیتی ندارد</option>
              </select>
            </div>
            <div class="col-md-2 col-sm-6 mb-3">
              <label for="inputEndDate" class="form-label"> دسته‌بندی</label>
              <input
                type="text"
                class="form-control"
                id="inputEndDate"
                disabled
              />
            </div>
          </div>
        </div>

        <button
          @click.prevent="send"
          :class="sendBtnClass"
          :disabled="sendBtnActivation"
        >
          {{ sendBtnValue }}
          <i
            v-if="sendBtnClass == 'btn btn-success' && hasErr == false"
            class="fas fa-check"
            role="status"
            aria-hidden="true"
          ></i>
          <span
            v-if="inProcess"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";
import { handleDaykey, handleTime } from "../../helper";

export default {
  data() {
    return {
      message: String,
      hasErr: false,
      inProcess: false,
      sendBtnActivation: false,
      sendBtnClass: "btn btn-primary",
      sendBtnValue: "ثبت رویداد",
      file: null,

      start_day_day: "",
      start_day_month: "",
      start_day_year: 1400,

      end_day_day: "",
      end_day_month: "",
      end_day_year: 1400,

      event: {
        gender: 3,
        min_member: 2,
      },
    };
  },
  methods: {
    send() {
      this.inProcess = true;
      Axios.post(
        config.base_api + "/event/store",
        {
          title: this.event.title,
          description: this.event.description,
          content: this.event.content,
          image: this.file,
          origin_city: this.event.origin_city,
          origin_state: this.event.origin_state,
          destination_city: this.event.destination_city,
          destination_state: this.event.destination_state,
          price: this.event.price,
          recommended_price: this.event.recommended_price,
          min_member: this.event.min_member,
          max_member: this.event.max_member,
          min_age: this.event.min_age,
          max_age: this.event.max_age,
          gender: this.event.gender,

          start_day: handleDaykey(
            this.start_day_year,
            this.start_day_month,
            this.start_day_day
          ),
          end_day: handleDaykey(
            this.end_day_year,
            this.end_day_month,
            this.end_day_day
          ),

          start_time: handleTime(
            this.event.start_hour,
            this.event.start_min
          ),
          end_time: handleTime(this.event.end_hour, this.event.end_min),
        },
        {
          headers: {
            // 'Content-Type': 'multipart/form-data',
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.sendBtnActivation = true;
          this.hasErr = false;

          this.sendBtnClass = "btn btn-success";
          this.sendBtnValue = "رویداد ثبت شد";

          this.$swal
            .fire({
              text: response.data.message,
              icon: "success",
              confirmButtonText: "برو به خانه",
            })
            .then(() => {
              window.location.replace(config.site_base);
            });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "باشه",
          });
          this.hasErr = true;
          this.sendBtnClass = "btn btn-danger";
        })
        .finally(() => {
          this.inProcess = false;
        });
    },
    uploadImage(event) {
      this.file = event.target.files[0];
    }
  },
};
</script>
