<template>
  <div class="row mb-5">
    <div class="col-lg-9 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <hr />
          <p class="card-text mb-3">{{ event.content }}</p>
          <hr />
          <div class="overflow-auto">
            <table class="table table-primary table-striped mt-4 mb-2">
              <thead>
                <tr>
                  <th scope="col">تاریخ شروع</th>
                  <th scope="col">زمان شروع</th>
                  <th scope="col">تاریخ پایان</th>
                  <th scope="col">زمان پایان</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ event.start_day }}</td>
                  <td>{{ event.start_time }}</td>
                  <td>{{ event.end_day }}</td>
                  <td>{{ event.end_time }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-primary table-striped mb-4 align-center">
              <thead>
                <tr>
                  <th scope="col">مبدا</th>
                  <th scope="col">مقصد</th>
                  <th scope="col">هزینه (اجباری)</th>
                  <th scope="col">هزینه (پیشنهادی)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ event.origin_city }} ({{ event.origin_state }})</td>
                  <td>
                    {{ event.destination_city }} ({{ event.destination_state }})
                  </td>
                  <td>{{ event.price }} ریال</td>
                  <td>{{ event.recommended_price }} ریال</td>
                </tr>
              </tbody>
            </table>
            <hr />
            <table class="table table-danger table-striped my-4">
              <thead>
                <tr>
                  <th scope="col">حداقل سن</th>
                  <th scope="col">حداکثر سن</th>
                  <th scope="col">حداقل اعضا</th>
                  <th scope="col">حداکثر اعضا</th>
                  <th scope="col">جنسیت</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ event.min_age ? event.min_age : "ندارد" }}</td>
                  <td>{{ event.max_age ? event.max_age : "ندارد" }}</td>
                  <td>{{ event.min_member }}</td>
                  <td>{{ event.max_member }}</td>
                  <td>{{ event.gender }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 mt-3">
      <div class="card">
        <img :src="event.image" class="card-img-top" :alt="event.title" />
        <div class="card-body">
          <h5 class="card-title mb-3">{{ event.title }}</h5>
          <h6 class="card-subtitle mb-5 mt-2 text-muted">
            {{ event.description }}
          </h6>
          <button :class="joinBtnClass" @click.prevent="join">
            {{ joinBtnValue }}
            <i
              v-if="joinBtnClass == 'btn btn-success' && hasErr == false"
              class="fas fa-check"
              role="status"
              aria-hidden="true"
            ></i>
            <span
              v-if="inProcess"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
        <div class="card-footer text-muted pt-2">
          {{ event.members }}
          نفر در این رویداد شرکت کرده‌اند
        </div>
      </div>

      <div class="mt-2">
        <ul class="list-group text-center">
          <li
            v-for="member in members"
            :key="member.id"
            class="list-group-item"
          >
            <div>{{ member.name }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";
import userAccess from "../../middlewares/userAccess";

export default {
  data() {
    return {
      event: Object,
      members: Object,
      message: String,
      hasErr: false,
      inProcess: false,
      joinBtnClass: "btn btn-primary",
      joinBtnValue: "پیوستن به این رویداد",
    };
  },
  mounted() {
    Axios.post(config.base_api + "/event", {
      id: this.$route.params.id,
    })
      .then((response) => {
        this.event = response.data.event;
      })
      .catch((e) => {
        this.$swal
          .fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "برو به خانه",
          })
          .then(() => {
            window.location.replace(config.site_base);
          });
      });

    Axios.post(config.base_api + "/event/members", {
      id: this.$route.params.id,
    }).then((response) => {
      this.members = response.data.members;
    });
    // .catch((e) => {
    //   this.$swal.fire({
    //     text: e.response.data.message,
    //     icon: "error",
    //     confirmButtonText: "باشه",
    //   });
    // });
  },
  methods: {
    join() {
      this.joinBtnClass = "btn btn-primary";
      this.inProcess = true;
      userAccess().then((r) => {
        if (r.isLogin) {
          Axios.post(
            config.base_api + "/event/join",
            {
              id: this.event.id,
            },
            {
              headers: {
                token: this.$cookies.get("token"),
              },
            }
          )
            .then((response) => {
              this.event.members = ++this.event.members;
              this.joinBtnClass = "btn btn-success";
              this.hasErr = false;

              this.$swal.fire({
                text: response.data.message,
                icon: "success",
                confirmButtonText: "باشه",
              });
            })
            .catch((e) => {
              this.$swal.fire({
                text: e.response.data.message,
                icon: "error",
                confirmButtonText: "باشه",
              });
              this.joinBtnClass = "btn btn-danger";
              this.hasErr = true;
            })
            .finally(() => {
              this.inProcess = false;
            });
        } else {
          this.$router.push({
            name: "web.Login",
            params: {
              nextUrlName: "web.Event",
              nextUrl: this.$route.fullPath,
              niceRedirect: true,
            },
          });
        }
      });
    },
  },
};
</script>
