<template>
  <div>
    <Events />
    <!-- <Footer /> -->
  </div>
</template>

<script>
import Events from "../../components/web/Events.vue";
// import Footer from "../../components/Footer.vue";

export default {
  components: {
    Events,
    // Footer,
  },
  data() {
    return {
      eventPageApi: Number,
      data: Object,
    };
  }
};
</script>
