<template>
  <div class="text-center">
    <h1>صفحه‌ی مورد نظر پیدا نشد</h1>
    <h5>ممکن است این صفحه پاک شده باشد یا اصلا وجود نداشته باشد</h5>

    <div>
      <router-link
        :to="{ name: 'web.Home' }"
        class="btn btn-outline-primary btn-lg mt-5"
        >صفحه‌ی اصلی</router-link
      >
    </div>
  </div>
</template>

<script>
export default {};
</script>