<template>
  <div class="row mb-5">
    <div class="col-lg-9 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-5">پروفایل</h5>
          <form>
            <div class="mb-5">
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label for="inputName" class="form-label">نام</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    v-model="profile.name"
                    dir="rtl"
                  />
                </div>
                <div class="col-md-8 col-sm-12">
                  <label for="inputEmailVerification" class="form-label"
                    >ایمیل</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      :class="
                        profile.email_verified_at != null
                          ? 'form-control is-valid'
                          : 'form-control is-invalid'
                      "
                      id="inputEmailVerification"
                      v-model="profile.email"
                      dir="ltr"
                      disabled
                    />
                    <div
                      v-if="profile.email_verified_at == null"
                      :class="sendVerificationEmailClass"
                      @click.prevent="sendVerificationEmail()"
                    >
                      {{ sendVerificationEmailValue }}
                      <span
                        v-if="sendVerificationEmailinProcess"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="inputName" class="form-label">
                    شماره موبایل
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    v-model="profile.phone_number"
                    dir="ltr"
                    disabled
                  />
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputStartDate" class="form-label"
                    >تاریخ تولد</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="number"
                      class="form-control"
                      v-model="birth_day.day"
                      placeholder="روز"
                      min="1"
                      max="31"
                      dir="ltr"
                      required
                    />
                    <span class="input-group-text">/</span>
                    <input
                      type="number"
                      class="form-control"
                      v-model="birth_day.month"
                      placeholder="ماه"
                      min="1"
                      max="12"
                      dir="ltr"
                      required
                    />
                    <span class="input-group-text">/</span>
                    <input
                      type="number"
                      class="form-control"
                      v-model="birth_day.year"
                      placeholder="سال"
                      dir="ltr"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputGender" class="form-label">جنسیت</label>
                  <select
                    class="form-select"
                    id="inputGender"
                    v-model="profile.gender"
                  >
                    <option value="1" :selected="profile.gender == 1">
                      اقا
                    </option>
                    <option value="2" :selected="profile.gender == 2">
                      خانم
                    </option>
                    <option value="3" :selected="profile.gender == 3">
                      مشخص نشده
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="inputTelegram" class="form-label">تلگرام</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputTelegram"
                    v-model="profile.telegram_id"
                    dir="ltr"
                  />
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputInstagam" class="form-label"
                    >اینستاگرام</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputInstagam"
                    v-model="profile.instagram_id"
                    dir="ltr"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="TextareaBio" class="form-label">بیوگرافی</label>
                <textarea
                  class="form-control"
                  id="TextareaBio"
                  v-model="profile.bio"
                  rows="4"
                ></textarea>
              </div>
            </div>
            <button @click.prevent="patch" :class="editBtnClass">
              ویرایش
              <!-- btn btn-primary -->
              <i
                v-if="editBtnClass == 'btn btn-success' && hasErr == false"
                class="fas fa-check"
                role="status"
                aria-hidden="true"
              ></i>
              <span
                v-if="inProcess"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 mt-3">
      <div class="card">
        <!-- <img :src="profile.avatar" class="card-img-top" :alt="profile.name" /> -->
        <img
          src="https://picsum.photos/150/100"
          class="card-img-top"
          :alt="profile.name"
        />
        <div
          class="card-body d-flex justify-content-between align-items-center"
        >
          <h5 class="card-title">{{ profile.name }}</h5>
          <div>
            <a
              v-if="profile.telegram_id"
              :href="getTelegramLink(profile.telegram_id)"
              class="card-subtitle text-end m-1"
              ><i class="fab fa-telegram fa-lg"></i
            ></a>
            <a
              v-if="profile.instagram_id"
              :href="getInstagramLink(profile.instagram_id)"
              class="card-subtitle text-end m-1"
              ><i class="fab fa-instagram text-danger fa-lg"></i
            ></a>
          </div>
        </div>
        <h6 class="card-subtitle m-3 text-muted">
          {{ profile.bio }}
        </h6>
        <ul class="list-group list-group-flush">
          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <div>کیف پول</div>
            <div>{{ profile.wallet }} ریال</div>
          </li>
          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <div>تاریخ اعتبار VIP</div>
            <div>
              {{ profile.vip_expire_at ? profile.vip_expire_at : "غیرفعال" }}
            </div>
          </li>
        </ul>

        <div
          class="card-body d-flex justify-content-between align-items-center"
        >
          <router-link :to="{ name: 'web.Logout' }" class="btn btn-danger"
            >خروج</router-link
          >
          <router-link
            :to="{ name: 'web.Logout' }"
            class="btn btn-outline-secondary btn-sm"
            >حذف اکانت</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";
import { handleDaykey } from "../../helper";

export default {
  data() {
    return {
      profile: Object,
      message: String,
      hasErr: false,
      hasSuc: false,
      inProcess: false,
      editBtnClass: "btn btn-primary",

      sendVerificationEmailValue: "ارسال تاییدیه ایمیل",
      sendVerificationEmailinProcess: false,
      sendVerificationEmailClass: "input-group-text btn btn-outline-danger",

      sendVerificationSmsValue: "ارسال sms",
      sendVerificationSmsinProcess: false,
      sendVerificationSmsClass: "input-group-text btn btn-outline-danger",

      birth_day: {
        year: "",
        month: "",
        day: "",
      },
    };
  },
  mounted() {
    Axios.post(config.base_api + "/profile", null, {
      headers: {
        token: this.$cookies.get("token"),
      },
    })
      .then((response) => {
        this.profile = response.data.profile;
        this.birth_day.year = this.profile.birth_day?.substring(0, 4);
        this.birth_day.month = this.profile.birth_day?.substring(4, 6);
        this.birth_day.day = this.profile.birth_day?.substring(6, 8);
      })
      .catch((e) => {
        this.message = e.response.data.message;
      });
  },
  methods: {
    patch() {
      this.editBtnClass = "btn btn-primary";
      this.inProcess = true;
      Axios.post(
        config.base_api + "/profile/edit",
        {
          name: this.profile.name,
          birth_day: handleDaykey(
            this.birth_day.year,
            this.birth_day.month,
            this.birth_day.day
          ),
          gender: this.profile.gender,
          bio: this.profile.bio,
          telegram_id: this.profile.telegram_id,
          instagram_id: this.profile.instagram_id,
        },
        {
          headers: {
            token: this.$cookies.get("token"),
          },
        }
      )
        .then((response) => {
          this.message = response.data.message;
          this.hasErr = false;
          this.editBtnClass = "btn btn-success";
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "باشه",
          });
          this.editBtnClass = "btn btn-danger";
        })
        .finally(() => {
          this.inProcess = false;
        });
    },
    sendVerificationEmail() {
      this.sendVerificationEmailinProcess = true;
      Axios.post(config.base_api + "/send/verification-email", null, {
        headers: {
          token: this.$cookies.get("token"),
        },
      })
        .then((response) => {
          this.sendVerificationEmailValue = response.data.message;
          this.sendVerificationEmailClass = "input-group-text btn btn-success";
          this.$swal.fire({
            text: response.data.message,
            icon: "success",
            confirmButtonText: "باشه",
          });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "باشه",
          });
        })
        .finally(() => {
          this.sendVerificationEmailinProcess = false;
        });
    },
    getInstagramLink(username) {
      return "https://instagram.com/" + username;
    },
    getTelegramLink(username) {
      return "https://t.me/" + username;
    },
  },
};
</script>
