<template>
  <div class="card col-md-6 col-sm-12 mx-auto">
    <div class="card-body">
      <h5 class="card-title">عضویت</h5>
      <form>
        <div class="mb-3">
          <label for="inputName" class="form-label">نام</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            v-model="form.name"
            dir="rtl"
          />
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">آدرس ایمیل</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            v-model="form.email"
            dir="ltr"
          />
        </div>
        <div class="mb-4">
          <label for="inputPassword" class="form-label">رمزعبور</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            v-model="form.password"
            dir="ltr"
          />
        </div>
        <button @click.prevent="send" class="btn btn-primary">
          عضویت
          <span
            v-if="inProcess"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
      },
      inProcess: false,
    };
  },
  methods: {
    send() {
      this.inProcess = true;
      Axios.post(config.base_api + "/register", {
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
      })
        .then((response) => {
          this.$cookies.set("token", response.data.token);
          this.$router.go({ name: "web.Home" });
        })
        .catch((e) => {
          this.$swal.fire({
            text: e.response.data.message,
            icon: "error",
            confirmButtonText: "باشه",
          });
        })
        .finally(() => {
          this.inProcess = false;
        });
    },
  },
};
</script>
