<template>
  <div>
    <div class="row mb-4">
      <Event v-for="event in myEvents" :key="event.id" :event="event" :editIt="true" />
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

import Event from "../../components/web/Event.vue";

export default {
  name: "Events",
  components: {
    Event,
  },
  data() {
    return {
      myEvents: Object,
    };
  },
  mounted() {
    Axios.post(config.base_api + `/my-events`, null, {
      headers: {
        token: this.$cookies.get("token"),
      },
    })
      .then((response) => {
        this.myEvents = response.data.events;
      })
      .catch((e) => {
        this.$swal
          .fire({
            text: e.response.data.message,
            icon: "error",
            showConfirmButton: false,
          })
          .then(() => {
            window.location.replace(config.site_base);
          });
      })
      .finally(() => {
        this.inProcess = false;
      });
  },
};
</script>