<template>
  <div>
    <div class="row mb-4">
      <Event v-for="event in data.events" :key="event.id" :event="event" />
    </div>
    <Paginate
      :pagesCount="data.pagesCount"
      :thisPage="page"
      prefix="/events/"
    />
  </div>
</template>

<script>
import Axios from "axios";
import config from "../../config";

import Event from "./Event.vue";
import Paginate from "../../components/Paginate.vue";

export default {
  name: "Events",
  components: {
    Event,
    Paginate,
  },
  data() {
    return {
      data: Object,
      page: Number,
    };
  },
  mounted() {
    if (this.$route.params.page == undefined) {
      this.page = 1;
    } else {
      this.page = this.$route.params.page;
    }
    Axios.post(config.base_api + `/events/${this.page}`)
      .then((response) => {
        this.data = response.data;
      })
      .catch((e) => {
        this.$swal
          .fire({
            text:
              e.response.data.message != undefined
                ? e.response.data.message
                : "مشکلی در وبسایت به وجود آمده است لطفا بعدا تلاش کنید",
            icon: "error",
            showConfirmButton: false,
          })
          .then(() => {
            window.location.replace(config.site_base);
          });
      })
      .finally(() => {
        this.inProcess = false;
      });
  },
};
</script>