<template>
  <div class="col-sm-12 col-md-3 mb-3">
    <div class="card h-100">
      <img :src="event.image" class="card-img-top" :alt="event.title" />
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text mb-5">{{ event.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <router-link
            :to="{
              name: 'web.Event',
              params: { id: event.id, slug: event.slug },
            }"
            class="btn btn-outline-primary"
            >ادامه</router-link
          >
          <router-link
            v-if="editIt"
            :to="{
              name: 'web.EditEvent',
              params: { id: event.id, slug: event.slug },
            }"
            class="btn btn-success"
            >ویرایش</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Event",
  props: {
    event: Object,
    editIt: Boolean,
  },
  data() {
    return {};
  },
};
</script>