<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <router-link :to="{ name: 'web.Home' }" class="navbar-brand"
          >لوکی</router-link
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link
                exact
                :to="{ name: 'web.Home' }"
                class="nav-link"
                active-class="active"
                >رویدادها</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                exact
                :to="{ name: 'web.CreateEvent' }"
                class="nav-link"
                active-class="active"
                >ساخت رویداد</router-link
              >
            </li>

            <li class="nav-item" v-if="isAdmin">
              <router-link
                exact
                :to="{ name: 'panel.Dashboard' }"
                class="nav-link text-warning"
                active-class="active"
                >پنل مدیریت</router-link
              >
            </li>
          </ul>

          <div v-if="isLogin" class="btn-group">
            <button
              type="button"
              class="btn btn-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ user.name }}
            </button>
            <ul class="dropdown-menu">
              <li>
                <router-link :to="{ name: 'web.Profile' }" class="dropdown-item"
                  >پروفایل</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'web.YourEvents' }"
                  class="dropdown-item"
                  >رویدادهای من</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'web.EventsYouJoined' }"
                  class="dropdown-item"
                  >رویدادهایی که شرکت میکنم</router-link
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <router-link :to="{ name: 'web.Logout' }" class="dropdown-item"
                  >خروج</router-link
                >
              </li>
            </ul>
          </div>

          <div
            v-else
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <router-link
              type="button"
              :to="{ name: 'web.Login' }"
              class="btn btn-success"
              active-class="active"
              >ورود</router-link
            >
            <router-link
              type="button"
              :to="{ name: 'web.Register' }"
              class="btn btn-danger"
              active-class="active"
              >عضویت</router-link
            >
          </div>

          <div class="py-2 visible-xs"></div>
          <div class="px-2 visible-lg"></div>

          <form class="d-flex">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="جستوجو"
                aria-label="جستوجو"
                aria-describedby="addon"
              />
              <span class="input-group-text" id="addon"
                ><i class="fa fa-search"></i
              ></span>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import userAccess from "../../middlewares/userAccess";
import adminAccess from "../../middlewares/adminAccess";

export default {
  name: "Navbar",
  data() {
    return {
      isLogin: false,
      isAdmin: false,
      user: {
        name: String,
      },
    };
  },
  beforeCreate() {
    userAccess().then((r) => {
      if (r.isLogin) {
        this.isLogin = true;
        this.user.name = r.name;
      } else {
        this.isLogin = false;
      }
    });
    adminAccess().then((r) => {
      r.isAdmin ? (this.isAdmin = true) : (this.isAdmin = false);
    });
  },
};
</script>