    <template>
  <div>
    <div class="container">
      <footer
        class="
          d-flex
          flex-wrap
          justify-content-between
          align-items-center
          py-3
          my-4
          border-top
        "
      >
        <p class="text-muted">
          توسعه داده شده با 
          <i class="fa fa-heart text-danger" aria-hidden="true"></i>
          .
        </p>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>