<template>
  <div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li
          v-for="index in pagesCount"
          :key="index"
          :class="index == thisPage ? 'page-item active' : 'page-item'"
        >
          <!-- <router-link
            class="page-link"
            :to="{ name: 'web.Events.Page', params: { page: index } }"
            >{{ index }}</router-link
          > -->
          <a :href="siteBase + prefix + index" class="page-link">{{
            index
          }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import config from "../config";

export default {
  name: "Paginate",
  props: ["pagesCount", "thisPage" , "prefix"],
  data() {
    return {
      siteBase: config.site_base,
    };
  },
};
</script>