<template>
  <div>
    <Navbar />
    <div class="container">
      <router-view name="viewPanel" />
      <router-view class="mt-5" />
    </div>
  </div>
</template>

<script>
import Navbar from "./components/web/Navbar.vue";

export default {
  components: {
    Navbar,
  },
};
</script>

<style>
@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Medium.ttf") format("truetype");
}
body {
  font-family: "IranSans";
  background-color: #f4f8fb;
}
</style>
